$white: #ffffff;
$spr-100-color: #DC3545;
$spn-200-color: #a3a19b;
$spn-300-color: #F8F9FA;
$spn-400-color: #81909d;
$spn-500-color: #677684;
$spn-600-color: #567490;
$spn-700-color: #435a70;
$spn-800-color: #5c5b59;


$spo-100-color: #111111;
